<?xml version="1.0"?>
<config>
    <modules>
        <Koawach_Recipes>
            <version>0.1.0</version>
        </Koawach_Recipes>
    </modules>
    <global>
        <models>
            <recipes>
                <class>Koawach_Recipes_Model</class>
                <resourceModel>recipes_mysql4</resourceModel>
            </recipes>
            <recipes_mysql4>
                <class>Koawach_Recipes_Model_Mysql4</class>
                <entities>
                    <recipes>
                        <table>recipes</table>
                    </recipes>
                </entities>
            </recipes_mysql4>
        </models>
        <resources>
            <recipes_setup>
                <setup>
                    <module>Koawach_Recipes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </recipes_setup>
            <recipes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </recipes_write>
            <recipes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </recipes_read>
        </resources>
        <helpers>
            <recipes>
                <class>Koawach_Recipes_Helper</class>
            </recipes>
        </helpers>
        <blocks>
          <recipes>
            <class>Koawach_Recipes_Block</class>
          </recipes>
        </blocks>
    </global>
    <admin>
      <routers>
        <recipes>
          <use>admin</use>
          <args>
            <module>Koawach_Recipes</module>
            <frontName>recipes</frontName>
          </args>
        </recipes>
      </routers>
    </admin>
</config>
